{% extends 'base.html' %}

{% block titulo %}Login | {% endblock %}

{% block conteudo %}
<h1 class=" mb-3" >Login</h1>

{% if not user.is_authenticated %}

<form method="POST" action="{% url 'login' %}">
    {% include 'parciais/_messages.html' %}
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Usuario</label>
        <input type="text" class="form-control" value="{{request.POST.usuario}}" name="usuario">
    </div>
    <div class="mb-3">
        <label class="form-label">Senha</label>
        <input type="password" class="form-control"  name="senha">
    </div>
  <button type="submit" class="btn btn-primary">Entrar</button>
</form>
{% else %}
<p>
    Você fez login com {{user}},
    <a href="{% url 'logout' %}">Clique aqui</a> para sair
</p>

{% endif %}

{% endblock %}